@model WebApplication3_Final_OrtFlix__Modelo_final_.Models.Contenido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contenido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContenido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valoracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
