@model IEnumerable<WebApplication3_Final_OrtFlix__Modelo_final_.Models.Contenido>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="mb-4">Lista de Contenidos</h1>

    <div class="row">
        @foreach (var contenido in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card bg-dark text-black" style="width: 18rem;">
                    <video muted controls id="myVideo">
                        <source src="~/lib/assets/videoplayback (online-video-cutter.com).mp4" type="video/mp4">
                    </video>
                    <div class="card-body bg-dark text-danger">
                        <h5 class="card-title bg-dark ">@contenido.Nombre</h5>
                        <p class="card-text bg-dark text-danger">
                            Tipo: @contenido.TipoContenido<br />
                            Duración: @contenido.Duracion minutos
                        </p>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoContenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valoracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoContenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valoracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
